* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__bg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(51,51,51,0.6);
  z-index: 4;
}

.hidden {
  display: none;
}

.map {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: default;
}

.map .map__container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ffffff60;
  cursor: pointer;
}

.map .map__container .map__item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
}

.map.modal {
  left: 0;
  top: 0;
  right: unset;
  bottom: unset;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  cursor: pointer;
}

.map.modal .map__container {
  width: 40%;
  height: 50%;
  cursor: default;
}

.map.modal .map__container .map__item {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.preloader{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border: 5px solid transparent;
  border-top-color: #42f5e3;
  border-radius: 50%;
  animation: preloader 2s linear infinite;
}

@keyframes preloader {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
